@model RuRuServer.Models.DataModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mb-5">
    <h1 class="display-5">Notification service test</h1>

</div>
<div class="row">
    <div class="col-2">
    </div>
    <div class="col-8 py-5 border rounded">

        <form class="g-3" method="POST" asp-controller="Home" asp-action="Index">

            <div class="mb-3">
                <div class="form-floating">
                    <input asp-for="@Model.SubscriptionId" class="form-control" placeholder="SubscriptionId">
                    <label>SubscriptionId:</label>
                </div>
                <small class="form-text text-muted">Укажите SubscriptionId (обязательное поле)</small>
            </div>

            <div class="form-floating mb-3">
                <input type="text" class="form-control" name="url" placeholder="Enter url" value="@Model.Phone">
                <label>Msisdn (phone):</label>
            </div>
            
            <div class="mb-3">
                <label class="form-label">Select state reason:</label>
                <select asp-for="@Model.SelectedStateReason" asp-items="@Model.StateReasons" class="form-control"></select>
            </div>
            
            <div class="form-floating mb-3">
                <input type="text" class="form-control" name="url" placeholder="Enter url" value="@Model.Url">
                <label>Url address</label>
            </div>

            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button class="btn btn-primary" type="submit">Submit</button>
            </div>
        </form>


        <div class="my-3">
            <label for="Output" class="form-label">Response:</label>
            @Html.TextAreaFor(m => m.Output, 3, 40, new { @class = "form-control" })
        </div>

    </div>
    <div class="col-2">
    </div>
</div>